/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: teal;
}

a {
  padding: 0px 20px;
}

.header-left {
  color: white;
}

button {
  padding: 8px 20px;
  background-color: purple;
  border-radius: 8px;
  font-size: 20px;
  color: black;
  transition: background-color 2s linear 1s;
}

button:hover {
  cursor: pointer;
  background-image: url(./img/hobby.contents.webp);
  background-size: cover;
}

/* ここからkv */
#kv {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(./img/IMG_1364.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.name {
  color: rgba(5, 192, 89, 0.703);
  font-size: 70px;
  top: 10%;
  right: 10%;
  position: absolute;
  /* 縦書きにする */
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.title {
  color: rgba(5, 192, 89, 0.703);
  font-size: 70px;
  top: 35%;
  left: 10%;
  position: absolute;
  /* 縦書きにする */
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.pointer {
  position: absolute;
  top: 52%;
  right: 26%;
  clip-path: polygon(0 46%, 14% 59%, 73% 0, 100% 23%, 39% 83%, 48% 100%, 0 100%);
  background-color: blue;
  width: 10%;
  height: 10vh;
}


/* sectionの共通部分 */
.wrap {
  color: white;
  text-align: center;
  /* margin-top: 30px; */
  padding: 30px 0;
  font-size: 60px;
  background-image: url(./img/5F872697-478B-45FD-9828-D045E0C871B1_4_5005_c.jpeg);
  background-position: center;
}

/* ここからabout */

.my-profile img {
  margin-left: 50px;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile ul {
  margin-right: 50px;
  font-size: 30px;
}

small {
  color: red;
}

/* ここからskills */
.container-skills {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

/* ここからworks */
.container {
  display: flex;
  flex-direction: column;
}

.css-img {
  width: 200px;
  height: 250px;
}

/* ここからstrength */
.strength-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.strength-text {
  border-radius: 0.5em;
  background-color: rgba(0, 0, 255, 0.416);
  width: 30%;
  /* color: white; */
}

/* ここからhistory */
.history-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.history-text p {
  background-color: rgba(0, 0, 255, 0.416);
  color: white;
  border-radius: 0.5em;
  padding: 50px;
  width: 50%;
  line-height: 50px;
}


/* ここからfooter */
footer {
  padding: 15px 0;
  background-color: chartreuse;
  margin-top: 200px;
  text-align: center;
}

/*アニメーション要素のスタイル*/
.animation {
  opacity: 0;
  visibility: hidden;
  transition: 3s;
  transform: translateY(30px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* レスポンシブ対応 */
@media screen and (max-width: 780px) {
  .header-right {
    display: flex;
    flex-direction: column;
  }

  button {
    padding: 2px 13px;
    font-size: 12px;
  }

  .profile {
    flex-direction: column;
  }

  #kv{
    height: 35vh;
  }

  .name {
    font-size: 23px;
  }

  .title {
    font-size: 23px;
  }

  .pointer {
    top: 44%;
    right: 30%;
    height: 5vh;
    width: 7%;
  }

  .profile ul {
    font-size: 15px;
    margin-top: 20px;
  }

  .my-profile img {
    margin: 0 auto;
  }

  .container-skills{
    flex-direction: column;
    align-items: center;
  }

  .strength-container {
    flex-direction: column;
    align-items: center;
  }

  .strength-text {
    width: 75%;
    margin-top: 30px;
  }

  .history-text p {
    padding: 40px;
    width: 88%;
    line-height: 30px;
  }
}